<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVuXYdL2-89QisBZ3DbyoZStFlwQPn_Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>736034371196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.est.ai.AIProject</string>
	<key>PROJECT_ID</key>
	<string>aico-8d89f</string>
	<key>STORAGE_BUCKET</key>
	<string>aico-8d89f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736034371196:ios:4205a5b4a5e7ae4c8efbf9</string>
</dict>
</plist>