<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY_AI_BRIEFING_GENERATION</key>
	<string>${GEMINI_API_KEY_AI_BRIEFING_GENERATION}</string>
	<key>GEMINI_API_KEY_BOOKMARK_SUGGESTION</key>
	<string>${GEMINI_API_KEY_BOOKMARK_SUGGESTION}</string>
	<key>GEMINI_API_KEY_COIN_RECOMENDATION</key>
	<string>${GEMINI_API_KEY_COIN_RECOMENDATION}</string>
	<key>GEMINI_API_KEY_COIN_REPORT_GENERATION</key>
	<string>${GEMINI_API_KEY_COIN_REPORT_GENERATION}</string>
	<key>CHATBOT_API_KEY</key>
	<string>$(CHATBOT_API_KEY)</string>
</dict>
</plist>
